version: '2.1'
services:
  database-items:
    image: postgres:latest
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: ${MELCORE_DB_ITEMS_PASSWORD}
      POSTGRES_DB: "melcore_items_dev"
    volumes:
      - ./sample_db_files/items/init.sql:/docker-entrypoint-initdb.d/1-init.sql
      - ./sample_db_files/items/data.sql:/docker-entrypoint-initdb.d/2-data.sql
    networks:
      backend:
        aliases:
          - "database-items"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
  database-owners:
    image: postgres:latest
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: ${MELCORE_DB_OWNERS_PASSWORD}
      POSTGRES_DB: "melcore_owners_dev"
    volumes:
      - ./sample_db_files/owners/init.sql:/docker-entrypoint-initdb.d/1-init.sql
      - ./sample_db_files/owners/data.sql:/docker-entrypoint-initdb.d/2-data.sql
    networks:
      backend:
        aliases:
          - "database-owners"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
  configserver:
    image: conorburke/melcore-configserver:0.0.1-SNAPSHOT
    ports:
       - "8071:8071"
    environment:
      ENCRYPT_KEY: ${ENCRYPT_KEY}
    networks:
      backend:
        aliases:
          - "configserver"
  eurekaserver:
    image: conorburke/melcore-eurekaserver:0.0.1-SNAPSHOT
    ports:
      - "8070:8070"
    depends_on:
      database-items:
        condition: service_healthy
      database-owners:
        condition: service_healthy
      configserver:
        condition: service_started  
    networks:
      backend:
        aliases:
          - "eurekaserver"
  gatewayserver:
    image: conorburke/melcore-gatewayserver:0.0.1-SNAPSHOT
    ports:
      - "8072:8072"
    environment:
      PROFILE: "default"
      SERVER_PORT: "8072"
      CONFIGSERVER_URI: "http://configserver:8071"
      EUREKASERVER_URI: "http://eurekaserver:8070/eureka/"
      EUREKASERVER_PORT: "8070"
      CONFIGSERVER_PORT: "8071"
    depends_on:
      database-items:
        condition: service_healthy
      database-owners:
        condition: service_healthy
      configserver:
        condition: service_started
      eurekaserver:
        condition: service_started
    networks:
      backend:
        aliases:
          - "gateway"
  melcore-items:
    image: conorburke/melcore-items:0.0.1-SNAPSHOT
    environment:
      PROFILE: "dev"
      CONFIGSERVER_URI: "http://configserver:8071"
      CONFIGSERVER_PORT:   "8071"
      DATABASESERVER_PORT: "5432"
      ENCRYPT_KEY: ${ENCRYPT_KEY}
    depends_on:
      database-items:
        condition: service_healthy
      configserver:
        condition: service_started
    ports:
      - "8082:8080"
    networks:
      - backend
    restart: always
  melcore-owners:
    image: conorburke/melcore-owners:0.0.1-SNAPSHOT
    environment:
      PROFILE: "dev"
      CONFIGSERVER_URI: "http://configserver:8071"
      CONFIGSERVER_PORT:   "8071"
      DATABASESERVER_PORT: "5432"
      ENCRYPT_KEY: ${ENCRYPT_KEY}
    depends_on:
      database-owners:
        condition: service_healthy
      configserver:
        condition: service_started
    ports:
      - "8081:8080"
    networks:
      - backend
    restart: always
  keycloak:
    image: jboss/keycloak
    restart: always
    environment:
      KEYCLOAK_USER: admin
      KEYCLOAK_PASSWORD: ${MELCORE_KEYCLOAK_PASSWORD}
    ports:
      - "8080:8080"
    networks:
      backend:
        aliases:
          - "keycloak"

networks:
  backend:
    driver: bridge